In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Placement.csv')

In [4]:
print('Information of Dataset:\n', df.info)

Information of Dataset:
 <bound method DataFrame.info of      sl_no gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
0        1      M  67.00   Others  91.00   Others  Commerce     58.00
1        2      M  79.33  Central  78.33   Others   Science     77.48
2        3      M  65.00  Central  68.00  Central      Arts     64.00
3        4      M  56.00  Central  52.00  Central   Science     52.00
4        5    NaN  85.80  Central  73.60  Central  Commerce     73.30
..     ...    ...    ...      ...    ...      ...       ...       ...
210    211      M  80.60   Others  82.00   Others  Commerce     77.60
211    212      M  58.00   Others  60.00   Others   Science     72.00
212    213      M  67.00   Others  67.00   Others  Commerce     73.00
213    214      F  74.00   Others  66.00   Others  Commerce     58.00
214    215      M  62.00  Central  58.00   Others   Science     53.00

      degree_t workex  etest_p specialisation  mba_p      status    salary
0     Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0
1     Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
2    Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0
3     Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
4    Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  425000.0
..         ...    ...      ...            ...    ...         ...       ...
210  Comm&Mgmt     No     91.0        Mkt&Fin  74.49      Placed  400000.0
211   Sci&Tech     No     74.0        Mkt&Fin  53.62      Placed  275000.0
212  Comm&Mgmt    Yes     59.0        Mkt&Fin  69.72      Placed  295000.0
213  Comm&Mgmt     No     70.0         Mkt&HR  60.23      Placed  204000.0
214  Comm&Mgmt     No     89.0         Mkt&HR  60.22  Not Placed       NaN

[215 rows x 15 columns]>

In [5]:
print('Shape of Dataset (row x column): ', df.shape)

Shape of Dataset (row x column):  (215, 15)

In [6]:
print('Columns Name: ',df.columns)

Columns Name:  Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [7]:
print('Total Elements in dataset:',df.size)

Total Elements in dataset: 3225

In [8]:
print('Datatype of attributes (columns):',df.dtypes)

Datatype of attributes (columns): sl_no               int64
gender             object
ssc_p             float64
ssc_b              object
hsc_p             float64
hsc_b              object
hsc_s              object
degree_p          float64
degree_t           object
workex             object
etest_p           float64
specialisation     object
mba_p             float64
status             object
salary            float64
dtype: object

In [9]:
print('First 5 rows:\n',df.head)

First 5 rows:
 <bound method NDFrame.head of      sl_no gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
0        1      M  67.00   Others  91.00   Others  Commerce     58.00
1        2      M  79.33  Central  78.33   Others   Science     77.48
2        3      M  65.00  Central  68.00  Central      Arts     64.00
3        4      M  56.00  Central  52.00  Central   Science     52.00
4        5    NaN  85.80  Central  73.60  Central  Commerce     73.30
..     ...    ...    ...      ...    ...      ...       ...       ...
210    211      M  80.60   Others  82.00   Others  Commerce     77.60
211    212      M  58.00   Others  60.00   Others   Science     72.00
212    213      M  67.00   Others  67.00   Others  Commerce     73.00
213    214      F  74.00   Others  66.00   Others  Commerce     58.00
214    215      M  62.00  Central  58.00   Others   Science     53.00

      degree_t workex  etest_p specialisation  mba_p      status    salary
0     Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0
1     Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
2    Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0
3     Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
4    Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  425000.0
..         ...    ...      ...            ...    ...         ...       ...
210  Comm&Mgmt     No     91.0        Mkt&Fin  74.49      Placed  400000.0
211   Sci&Tech     No     74.0        Mkt&Fin  53.62      Placed  275000.0
212  Comm&Mgmt    Yes     59.0        Mkt&Fin  69.72      Placed  295000.0
213  Comm&Mgmt     No     70.0         Mkt&HR  60.23      Placed  204000.0
214  Comm&Mgmt     No     89.0         Mkt&HR  60.22  Not Placed       NaN

[215 rows x 15 columns]>

In [12]:
print('Last 5 rows:\n',df.tail().T)

Last 5 rows:
                       210       211        212        213         214
sl_no                 211       212        213        214         215
gender                  M         M          M          F           M
ssc_p                80.6      58.0       67.0       74.0        62.0
ssc_b              Others    Others     Others     Others     Central
hsc_p                82.0      60.0       67.0       66.0        58.0
hsc_b              Others    Others     Others     Others      Others
hsc_s            Commerce   Science   Commerce   Commerce     Science
degree_p             77.6      72.0       73.0       58.0        53.0
degree_t        Comm&Mgmt  Sci&Tech  Comm&Mgmt  Comm&Mgmt   Comm&Mgmt
workex                 No        No        Yes         No          No
etest_p              91.0      74.0       59.0       70.0        89.0
specialisation    Mkt&Fin   Mkt&Fin    Mkt&Fin     Mkt&HR      Mkt&HR
mba_p               74.49     53.62      69.72      60.23       60.22
status             Placed    Placed     Placed     Placed  Not Placed
salary           400000.0  275000.0   295000.0   204000.0         NaN

In [15]:
print('Any 5 rows:\n',df.sample(5).T)

Any 5 rows:
                       2           82        156       77          3
sl_no                   3          83       157        78           4
gender                  M           M         M         M           M
ssc_p                65.0        63.0      84.2      64.0        56.0
ssc_b             Central     Central   Central    Others     Central
hsc_p                68.0        67.0      69.4      80.0        52.0
hsc_b             Central     Central   Central    Others     Central
hsc_s                Arts    Commerce   Science   Science     Science
degree_p             64.0        74.0      65.0      65.0        52.0
degree_t        Comm&Mgmt   Comm&Mgmt  Sci&Tech  Sci&Tech    Sci&Tech
workex                 No          No       Yes       Yes          No
etest_p              75.0        82.0      80.0      69.0        66.0
specialisation    Mkt&Fin     Mkt&Fin    Mkt&HR   Mkt&Fin      Mkt&HR
mba_p                57.8       60.44     52.72     57.65       59.43
status             Placed  Not Placed    Placed    Placed  Not Placed
salary           250000.0         NaN  255000.0  500000.0         NaN

In [16]:
print('Statistical information of Numerical Columns: \n',df.describe())

Statistical information of Numerical Columns:
             sl_no       ssc_p       hsc_p    degree_p     etest_p       mba_p  \
count  215.000000  213.000000  214.000000  213.000000  213.000000  213.000000
mean   108.000000   67.372911   66.344065   66.388404   72.219390   62.266103
std     62.209324   10.811464   10.921885    7.256840   13.255118    5.837303
min      1.000000   40.890000   37.000000   50.200000   50.000000   51.210000
25%     54.500000   60.800000   60.850000   61.000000   60.000000   57.900000
50%    108.000000   67.000000   65.000000   66.000000   71.000000   62.000000
75%    161.500000   76.000000   73.000000   72.000000   84.000000   66.230000
max    215.000000   89.400000   97.700000   91.000000   98.000000   77.890000

              salary
count     148.000000
mean   288655.405405
std     93457.452420
min    200000.000000
25%    240000.000000
50%    265000.000000
75%    300000.000000
max    940000.000000

In [18]:
print('Total Number of Null Values in Dataset:\n', df.isna().sum())

Total Number of Null Values in Dataset:
 sl_no              0
gender             2
ssc_p              2
ssc_b              1
hsc_p              1
hsc_b              2
hsc_s              2
degree_p           2
degree_t           1
workex             2
etest_p            2
specialisation     2
mba_p              2
status             0
salary            67
dtype: int64

In [19]:
df['gender'].fillna(df['gender'].mode()[0], inplace=True)
df['ssc_p'].fillna(df['ssc_p'].mean(), inplace=True)
print('Mode of ssc_b: ', df['ssc_b'].mode())
df['ssc_b'].fillna(df['ssc_b'].mode()[0], inplace=True)

Mode of ssc_b:  0    Central
Name: ssc_b, dtype: object

In [20]:
print('Total Number of Null Values in Dataset:', df.isna().sum())

Total Number of Null Values in Dataset: sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              1
hsc_b              2
hsc_s              2
degree_p           2
degree_t           1
workex             2
etest_p            2
specialisation     2
mba_p              2
status             0
salary            67
dtype: int64

In [21]:
df['sl_no']=df['sl_no'].astype('int8')
print('Change in datatype: ', df['sl_no'].dtypes)

Change in datatype:  int8

In [22]:
# Find and replace method
df['gender'].replace(['M','F'],[0,1],inplace=True)

In [23]:
# Label encoding method
df['ssc_b']=df['ssc_b'].astype('category') #change data type to category
df['ssc_b']=df['ssc_b'].cat.codesb

In [25]:
# Ordinal encoder using Scikit-learn
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
df[['hsc_b']]=enc.fit_transform(df[['hsc_b']])

In [26]:
print('After converting categorical variable to numeric variable: ')
print(df.head().T)

After converting categorical variable to numeric variable:
                       0         1          2           3          4
sl_no                  1         2          3           4          5
gender                 0         0          0           0          0
ssc_p               67.0     79.33       65.0        56.0       85.8
ssc_b                  1         0          0           0          0
hsc_p               91.0     78.33       68.0        52.0       73.6
hsc_b                1.0       1.0        0.0         0.0        0.0
hsc_s           Commerce   Science       Arts     Science   Commerce
degree_p            58.0     77.48       64.0        52.0       73.3
degree_t        Sci&Tech  Sci&Tech  Comm&Mgmt    Sci&Tech  Comm&Mgmt
workex                No       Yes         No          No         No
etest_p             55.0      86.5       75.0        66.0       96.8
specialisation    Mkt&HR   Mkt&Fin    Mkt&Fin      Mkt&HR    Mkt&Fin
mba_p               58.8     66.28       57.8       59.43       55.5
status            Placed    Placed     Placed  Not Placed     Placed
salary          270000.0  200000.0   250000.0         NaN   425000.0

In [27]:
df['salary']=(df['salary']-df['salary'].min())/(df['salary'].max()-df['salary'].min())
# (x - min value into that column)/(max value - min value)

In [28]:
# Maximum absolute scaler using scikit-learn
from sklearn.preprocessing import MaxAbsScaler
abs_scaler=MaxAbsScaler()
df[['mba_p']]=abs_scaler.fit_transform(df[['mba_p']])

In [29]:
print(df.head().T)

                       0         1          2           3          4
sl_no                  1         2          3           4          5
gender                 0         0          0           0          0
ssc_p               67.0     79.33       65.0        56.0       85.8
ssc_b                  1         0          0           0          0
hsc_p               91.0     78.33       68.0        52.0       73.6
hsc_b                1.0       1.0        0.0         0.0        0.0
hsc_s           Commerce   Science       Arts     Science   Commerce
degree_p            58.0     77.48       64.0        52.0       73.3
degree_t        Sci&Tech  Sci&Tech  Comm&Mgmt    Sci&Tech  Comm&Mgmt
workex                No       Yes         No          No         No
etest_p             55.0      86.5       75.0        66.0       96.8
specialisation    Mkt&HR   Mkt&Fin    Mkt&Fin      Mkt&HR    Mkt&Fin
mba_p           0.754911  0.850944   0.742072    0.762999   0.712543
status            Placed    Placed     Placed  Not Placed     Placed
salary          0.094595       0.0   0.067568         NaN   0.304054